body
{
	text-align: center;
	min-height: 380px;
	position:relative;
}
.ez-sidebar
{
	margin-top:20px;
	bottom: 0;
	width: 100%;
	position: absolute;
	height: 60px;
	text-align: center;
	padding-bottom: 0%;
}
.ez-buttoncontainer:
{
	width: 100%;
  	min-width: 100%;
  	max-width: 100%;
}
.ez-buttoncontainer ul li
{
	display: inline;
	line-height: 40px;
	margin: 5px;
	
}
.ez-logo
{
	height: 30px;
	width: 30px;
	background-size: 30px;
}
.ez-logo-a
{
    padding-bottom: 11px;
}

.ez-buttoncontainer a
{
	font-size: 150%;
	line-height: 30px;
}

#sociallinks:after 
{ 
    content: "bottom.";
}

.ez-contentcontainer
{	
	padding: 0px;
	text-align: left;
	display: inline-block;
	max-width: 100%;
}
#frontpage
{
	text-align: center;
}
#frontpage .ez-contentcontainer
{
	max-width: 100%;
    padding-top: 0%;
	text-align: left;
	display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

