@import url('/fonts.css');

:root {
    --a-color: #36c;
    --a-visited-color: #6a60b0;

    --nav-height: 200px;
    --backlinks-height: calc(100vh - var(--nav-height));
}

html {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-family: var(--pt-serif);
    line-height: 1.5;
    /* font-size: 18px; */
    /* font-weight: 500; */
    /* text-rendering: optimizeLegibility; */
    /* -webkit-font-smoothing: antialiased; */
    background: #f8f8f8;
}

body {
    margin: 0;
    padding: 0;
}

.home-text {
    text-align: center;
}

article.home>ul {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--garamond);
    /* font-weight: 500; */
    font-size: 1.8em;
    line-height: 1.2;
    text-align: center;
}

p {
    text-align: justify;
}

.site>:is(nav, article) {
    background: white;
    border-radius: 1em;
    box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.2);
}



time {
    /* font-family: var(--iosevka); */
    font-variant-numeric: tabular-nums slashed-zero;
    text-wrap: nowrap;
    /* font-size: 0.9em; */
}

pre,
code {
    font-family: var(--iosevka);
    /* font-size: 0.9em; */
}

nav.sidebar {
    display: flex;
    gap: 1em;
    align-items: center;
}

.sidebar .links {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.sidebar .links li {
    display: block;
    padding: 1em;
}


img {
    max-width: 100%;
}

.sidebar .hog {
    width: 64px;
    flex: 0 0 auto;
}


article,
nav {
    max-width: 900px;
}


h1:has(+ .hogs) {
    margin-bottom: 0.3em;
}

.hogs {
    margin: 0;
    font-size: 20px;
}


article,
nav {
    padding: 2em;
    margin: 2em min(2em, 5%);
    overflow-x: scroll;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.01);
    border-radius: 1em;
    box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.2);
    margin: initial auto;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
}

aside {
    text-align: center;
    line-height: 1.2em;
    font-style: italic;
}

article>:is(p, .hogs, ol, ul, blockquote) {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
}

article>pre {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

/* cool asides like on pault.ag */
@media (min-width: 1024px) {

    article,
    nav {
        margin: 2em auto;
    }


    article>:is(p, .hogs, ol, ul, blockquote) {
        /* max-width: 900px; */
        padding-left: 200px;
        padding-right: 200px;
    }

    aside {
        width: 180px;
        text-align: left;
    }

    aside.left {
        float: left;
    }

    aside.right {
        float: right;
    }
}

/* ok so here we get a cool sidebar */
@media (min-width: 1280px) {
    .site {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-areas:
            "sidebar content"
            "backlinks content"
            ". content";
        grid-template-rows: auto auto 1fr;
        grid-auto-rows: auto;
        max-width: 1280px;
        margin: 0 auto;
    }

    :root {
        --sidebar-height: 172px;
    }

    nav {
        position: sticky;
        top: 2em;
        margin: 2em;
    }

    nav.sidebar {
        height: 200px;
    }

    .sidebar .links {
        flex-direction: column;
    }

    .sidebar .links li {
        padding: 0.1em;
    }

    nav.backlinks {
        margin-top: 0;
        top: calc(200px + 8em);
    }

    article {
        grid-area: content;
        width: 100%;
    }

    /* hacky hacky hacky swapping of backlinks and the article */
    .focus-backlinks article {
        grid-area: backlinks;
        margin: 2em;
        margin-top: 0;
        padding: 0;
        padding-bottom: 2em;

        width: unset;
    }

    .focus-backlinks article>* {
        margin-left: 0;
        margin-right: 0;
        padding-left: 2em;
        padding-right: 2em;
    }

    .focus-backlinks nav.backlinks {
        grid-area: content;
        margin: 0 auto;
        margin-top: 2em;
        width: 100%;
    }
}

a {
    color: var(--a-color);
}

a:visited {
    color: var(--a-visited-color);
}


a.external::after {
    display: inline-block;
    content: "";
    background-color: var(--a-color);
    mask-image: url("/icons/external-link.svg");
    mask-repeat: no-repeat;
    mask-position: right center;
    mask-composite: intersect;
    mask-size: 0.9em;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-top: -3px;
}

a.external:visited::after {
    background-color: var(--a-visited-color);
}

/* home page */
.posts ul {
    padding: 0;
}

.posts ul li {
    display: flex;
    gap: 1ch;
}

.posts {
    text-align: left;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}