html {
    background-color: #eee;
}

body {
    line-height: 1.2;
    font-size: 18px;
    color: #444;
    font-family: Bahnschrift, DIN, "DIN Alternate", "Roboto Condensed", sans-serif;
    font-weight: 300;
    margin: 10px;
    padding: 0;
    min-height: calc(100vh - 20px);

    display: flex;
    flex-direction: column; 
    overflow-x: hidden;
}
.long body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    padding: 0 10px;
    justify-content: initial;
    min-height: 0;
} 

p {
    margin-bottom: 0;
}

content {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.long content {
    display: initial;
}
a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-stretch: semi-condensed;
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
    padding: 5px;
    margin-right: 4px;
    margin-bottom: 7px;
    text-shadow: none;
    display: inline-block;
    transition: all 0.5s;
    position: relative;
    bottom: 0px;
}
a:hover {
    color: black;
    background-color: white;
    box-shadow: 0px 5px 50px #000000;
    position: relative;
    transform: scale(1.03);
}
#thumbnails {
    margin: 0 auto;
    text-align: center;
    transition: all 0.5s;
}
#thumbnails a {
    min-width: 200px;
    min-height: 150px;
    text-align: left;
    display: inline-block;

    background-size:cover;
    text-shadow: 0px 0px 6px #212121, 0px 0px 6px #212121, 0px 0px 10px #000000, 0px 0px 15px #000000, 0px 0px 20px #000000;
}
#thumbnails a:hover {
    color: white;
}
#thumbnails .hidden {
    opacity: 0;
    max-height: 0px;
    min-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.long a {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    margin: 0;
    border-width: 1px;
}
.long a:hover {
    box-shadow: 0px 3px 20px #000000;
    position: relative;
}


/* nav */
header {
    display: flex;
    justify-content: space-between;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: -4px;
}
header ul li {
    display: inline;
}

header ul a {
    height: 40px;
    font-size: 210%;
}
/* no margin on last link */
header ul li:last-child a {
}

#logo
{
    background-image: url("img/logo.png");
    background-size: 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    padding: 0;
    margin: 0;
    margin-right: 20px;

    /* have a label on the hedgehog but hide the text */
    overflow: hidden;
    color: transparent;
    font-size: 0;
}
#logo:hover
{
    background-image: url("img/logo-white.png");
}
.long #logo {
    float: left;
    position: fixed;
    top: 10px;
    left: 10px;
    background-size: 40px;
    background-color: black;
    display: inline-block;
    height: 40px;
    width: 40px;
    min-width: 40px;
}
.long #logo:hover {
} 
@media screen and (max-width: 800px) {
    .long #logo {
        position: relative;
        top: 0;
        left: 0;
    }
    .long #logo:hover {
    } 
}

/* hella hd */
@media screen and (min-width: 1024px) {
    body {
        font-size: 3vmin;
        margin: 10px;
        min-height: calc(100vh - 3vmin);
        margin: 1.5vmin;
    }
    a {
        border-width: 0.2vmin;
        padding: 0.5vmin;
        margin-right: 0.6vmin;
        margin-bottom: 1.05vmin;
    }
    a:hover {
        box-shadow: 0px 1vmin 10vmin #000000;
    }
    #thumbnails {
        max-width: 130vmin;
    }

    #thumbnails a {
        min-width: 30vmin;
        min-height: 22.5vmin;
    }
    header ul {
        margin-right: -0.6vmin;
    }
    header ul a {
        height: 7vmin;
        font-size: 210%;
    }
    #logo
    {
        background-size: 8vmin;
        height: 8vmin;
        width: 8vmin;
        min-width: 8vmin;
        margin-right: 3.5vmin;
    }
}
@media screen and (max-width: 455px) {
    #thumbnails {
        margin-top: 3vw;
    }
    #thumbnails a {
        min-width: 90vw;
        min-height: 67.5vw;
        font-size: 7vw;
    }
}
