html {
    background-color: #333;
}
.long {
    background-color: #eee;
}

body {
    line-height: 1.2;
    font-size: 18px;
    color: white;
    font-family: Bahnschrift, DIN, "DIN Alternate", Roboto, sans-serif;
    font-weight: 300;
    text-shadow: 0px 0px 6px #212121, 0px 0px 6px #212121, 0px 0px 10px #000000, 0px 0px 15px #000000, 0px 0px 20px #000000;
    margin: 10px;
    padding: 0;
    min-height: calc(100vh - 20px);

    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.long body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    text-shadow: none;
    justify-content: initial;
    min-height: 0;
} 

#stufflinks {
    margin-bottom: -7px;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    font-stretch: semi-condensed;
    border-style: solid;
    border-width: 1px;
    border-color: #212121;
    padding: 5px;
    margin-right: 4px;
    margin-bottom: 7px;
    text-shadow: none;
    display: inline-block;
}
.long a {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    margin: 0;
    border-width: 1px;
}

a:hover {
    color: black;
    background-color: white;
}

/* nav */
header {
    display: flex;
    justify-content: space-between;
    background-color: #333333F0;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    margin-right: -4px;
}
header ul li {
    display: inline;
}

header ul a {
    height: 40px;
    font-size: 210%;
}
/* no margin on last link */
header ul li:last-child a {
}

#logo
{
    background-image: url("img/logo.png");
    background-size: 50px;
    background-color: black;
    display: inline-block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    padding: 0;
    margin: 0;
    margin-right: 20px;
}
#logo:hover
{
    background-image: url("img/logo-white.png");
}
.long #logo {
    float: left;
    position: fixed;
    top: 10px;
    left: 10px;
    background-size: 40px;
    background-color: black;
    display: inline-block;
    height: 40px;
    width: 40px;
    min-width: 40px;
}
@media screen and (max-width: 800px) {
    .long #logo {
        position: relative;
        top: 0;
        left: 0;
    }
}

/* hella hd */
@media screen and (min-width: 1024px) and (min-height: 768px) {
    body {
        font-size: 3vmin;
        margin: 10px;
        min-height: calc(100vh - 3vmin);
        margin: 1.5vmin;
    }
    #stufflinks {
        margin-bottom: -1.05vmin;
    }
    a {
        border-width: 0.2vmin;
        padding: 0.5vmin;
        margin-right: 0.6vmin;
        margin-bottom: 1.05vmin;
    }
    header ul {
        margin-right: -0.6vmin;
    }
    header ul a {
        height: 7vmin;
        font-size: 210%;
    }
    #logo
    {
        background-size: 7vmin;
        height: 7vmin;
        width: 7vmin;
        min-width: 7vmin;
        margin-right: 3.5vmin;
    }
}
