#app {
    container-type: inline-size;

    .container {

        .spreadsheet {
            display: grid;
            grid-template-columns: repeat(10, 102.4px);
            overflow: scroll;
            width: 100cqw;

            input {
                &.has-focus {
                    border: 1px solid blueviolet;
                }
            }
        }

        .cell-config {
            margin: 0.5em;
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
            flex-grow: 1;

            .prop {
                display: flex;
                font-family: var(--iosevka);
                gap: 0.5em;

                input {
                    width: 100%;
                }
            }
        }
    }
}