<!DOCTYPE html>
<html lang="en" class="long">

<head>
    <meta charset="utf-8" />
    <title>Post Title</title>
    <link rel="shortcut icon" href="../../img/logo.png" />

    <meta property="og:title" content="Post Title - Ezhik's blog" />
    <meta property="og:description" content="Post Description" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ezhik.me/blog/post-url" />
    <meta property="og:image" content="http://ezhik.me/img/logo.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <a href="../../" id="logo">ezhik.me</a>
    <content>
        <h1>Post Title</h1>

        Post content here.
    </content>
</body>

</html>
